<div class="content-hub-item image block-{{ index }}" {% if block.settings.anchor != blank %} id="{{ block.settings.anchor }}" {% endif %}>

  {% if block.settings.link != blank %}
    <a href="{{ block.settings.link }}"{% if block.settings.target_blank %} target="_blank"{% endif %}>
  {% endif %}

  {% if block.settings.image %}
    {{ block.settings.image | image_url: width: 800 | image_tag }}
  {% else %}
    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
  {% endif %}

  {% if block.settings.link != blank %}
    </a>
  {% endif %}

  {% if block.settings.text %}
    <div {% if block.settings.text_align %}style="text-align: {{ block.settings.text_align }};"{% endif %}>
      {{ block.settings.text }}
    </div>
  {% endif %}

</div>