<style>
  .content-hub-item.block-{{ index }}.image-slider .image-items .image-img {
    width: 100%;
    height: {% if block.settings.image_height != 0 %}{{ block.settings.image_height }}px{% else %}auto{% endif %};
  }
  .content-hub-item.block-{{ index }}.image-slider .image-items .image-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
</style>

<div class="content-hub-item image-slider block-{{ index }}" {% if block.settings.anchor != blank %} id="{{ block.settings.anchor }}" {% endif %}>
  <div class="image-items">
    {% if block.settings.image_1 != blank %}
      {% render 'content-hub-image-slider-item', image: block.settings.image_1, text: block.settings.text_1, image_height: block.settings.image_height %}
    {% endif %}
    {% if block.settings.image_2 != blank %}
      {% render 'content-hub-image-slider-item', image: block.settings.image_2, text: block.settings.text_2, image_height: block.settings.image_height %}
    {% endif %}
    {% if block.settings.image_3 != blank %}
      {% render 'content-hub-image-slider-item', image: block.settings.image_3, text: block.settings.text_3, image_height: block.settings.image_height %}
    {% endif %}
    {% if block.settings.image_4 != blank %}
      {% render 'content-hub-image-slider-item', image: block.settings.image_4, text: block.settings.text_4, image_height: block.settings.image_height %}
    {% endif %}
    {% if block.settings.image_5 != blank %}
      {% render 'content-hub-image-slider-item', image: block.settings.image_5, text: block.settings.text_5, image_height: block.settings.image_height %}
    {% endif %}
    {% if block.settings.image_6 != blank %}
      {% render 'content-hub-image-slider-item', image: block.settings.image_6, text: block.settings.text_6, image_height: block.settings.image_height %}
    {% endif %}
    {% if block.settings.image_7 != blank %}
      {% render 'content-hub-image-slider-item', image: block.settings.image_7, text: block.settings.text_7, image_height: block.settings.image_height %}
    {% endif %}
    {% if block.settings.image_8 != blank %}
      {% render 'content-hub-image-slider-item', image: block.settings.image_8, text: block.settings.text_8, image_height: block.settings.image_height %}
    {% endif %}

    {% if block.settings.image_1 == blank 
            and block.settings.image_2 == blank 
            and block.settings.image_3 == blank 
            and block.settings.image_4 == blank 
            and block.settings.image_5 == blank 
            and block.settings.image_6 == blank 
            and block.settings.image_7 == blank 
            and block.settings.image_8 == blank 
            %}

      {% for num in (1..3) %}
        <div class="image-item">
          <div class="image-img">
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
          </div>
          <div class="image-title">
            Image
            {{ num }}
          </div>
        </div>
      {% endfor %}

    {% endif %}
  </div>
</div>