<style>
  .content-hub-item.banner.block-{{ index }} .col-content .content .btn {
      background-color: {{ block.settings.button_color }};
      color: {{ block.settings.button_text_color }};
  }

  .content-hub-item.banner.block-{{ index }} .col-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
</style>

<div class="content-hub-item {% if block.settings.is_border %}border-item{% endif %} banner block-{{ index }}" {% if block.settings.anchor != blank %} id="{{ block.settings.anchor }}" {% endif %}>
  <div class="row" style="background-color: {{ block.settings.background }};">
    <div class="col col-content">
      <div class="content">

        <{{block.settings.heading_tag}} class="{{ block.settings.headline_style }} headline">
          {{ block.settings.headline }}
        </{{block.settings.heading_tag}}>

        <div class="text">
          {{ block.settings.text }}
        </div>

        {% if block.settings.button_text != blank %}
          <a href="{{ block.settings.button_link }}" class="btn border--button btn-rounded font-size--l" title="{{ block.settings.button_text }}">{{ block.settings.button_text }}</a>
        {% endif %}

      </div>
    </div>

    {% if block.settings.image %}
      <div class="col col-img {{ block.settings.image_position }}" style="background-image:url('{{ block.settings.image | image_url }}');">&nbsp;</div>
    {% else %}
      <div class="col col-img {{ block.settings.image_position }}">
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
      </div>
    {% endif %}
  </div>
</div>